{% extends 'base.html.twig' %}

{% block title 'liste des mémoires' %}

{% block body %}

	{% include "memoire/inc/searchForm.html.twig" %}


	<h1>Liste des mémoires</h1>

	{% include "memoire/inc/tableList.html.twig" %}

	<div class="navigation" style="margin-bottom: 20px;">
		{{ knp_pagination_render(memoires) }}
	</div>

{% endblock %}