<nav>
	<ul>
		<li><a href="/">Home</a></li>
		<li><a href="/memoire/index">Memoire</a></li>
			<ul>
				<li><a href="/memoire/create">add new one</a></li>
			</ul>
		<li><a href="#">Link 2</a></li>
	</ul>
</nav>