<table class="table">
  <thead>
    <tr>
      <th>Titre</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <a href="{{path('memoire_show', {id: memoire.id})}}">{{ memoire.title }}</a>
    </tr>
    <tr>
      {{ memoire.description }}
    </tr>
    
  </tbody>
</table>