{% extends 'base.html.twig' %}

{% block title 'homepage' %}

{% block body %}

    <h1>Welcome to Homepage</h1>
    
    <p>
    	Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias temporibus explicabo placeat, voluptates tempora praesentium, rerum. Earum <br> nisi ipsum assumenda commodi, explicabo voluptates fuga, provident tempore eum. Perferendis, quasi minima. <br>
    	Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat quas quae impedit repellendus officia, tempora veniam fuga, in eligendi <br>cupiditate illo quam odio error modi atque vitae aspernatur eum facilis! <br>
    </p>

    <h3>Les derniers articles</h3>
    {% for memoire in latests %}
    	<div style="margin-bottom: 10px"><a href="">{{memoire.title}}</a></div>
    {% endfor %}

{% endblock %}